<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net472" />
  <package id="byMarc.Net2.Library.ListItems" version="2017.305.1" targetFramework="net472" />
  <package id="byMarc.Net2.Library.Nullable" version="2017.305.9" targetFramework="net472" />
  <package id="byMarc.Net2.Library.Strings" version="2017.219.0" targetFramework="net472" />
  <package id="byMarc.Net2.WinControls.DataGridViewExControl" version="2017.306.4" targetFramework="net472" />
  <package id="byMarc.Net2.WinControls.ReorderingCheckedListBox" version="2017.305.10" targetFramework="net472" />
  <package id="byMarc.Net2.WinControls.SizeGripper" version="2017.305.10" targetFramework="net472" />
  <package id="DataGridView-AutoFilter" version="1.1.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1404.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.113.7" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net472" />
</packages>